{% extends 'base.html.twig' %}

{# commentaire twig  #}

{% block body %}
    <h1>{{title}}</h1>
    <p>{{message}}</p>
    <p>{{joueur1.nom}} est âgé de {{joueur1.age}} ans</p>
    <ul>
        {% for joueur in joueurs %}
            <li>
                {{joueur.nom}}
                {% if joueur.age > 29 %}
                    <span> (trentenaire)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for player in players %}
            <li>
                {{player.nom}}
                {% if player.age > 29 %}
                    <span> (trentenaire)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
