{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ team.nom }}</td>
            </tr>
            <tr>
                <th>Anneecreation</th>
                <td>{{ team.anneeCreation }}</td>
            </tr>
            <tr>
                <th>Entraineur</th>
                <td>{{ team.entraineur }}</td>
            </tr>
            <tr>
                <th>Couleurs</th>
                <td>{{ team.couleurs }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_team_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
